@use '../../shared/styles/variables.scss' as *;

.footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: $dark-blue;
    color: $off-white;
    font-size: 14px;
}