@use './app/shared/styles/variables' as *;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: $off-white;
    color: $dark-blue;
}

button {
    background: $gold-gradient;
    color: $off-white;
    border: none;
    font-weight: bold;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      background: $gold;
    }
}

.success-message, .error-message {
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}

.success-message {
    color: #28a745;
}

.error-message {
    color: red;
}